<h1>StarWars Cast</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Birth Year</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let person of swPersonList; let i = index" (click)="onGridClick(person)">
  <!--[routerLink]="['/swpersons', i + 1]">-->
    <td>{{ person.name }}</td>
    <td>{{ person.birth_year }}</td>
  </tr>
  </tbody> 
</table>
<div class="float-left" *ngIf="hasPrevious">
  <button type="button" (click)="navigateToPrevious()">Previous</button>
</div>
<div class="float-right" *ngIf="hasNext">
  <button type="button" (click)="navigateToNext()">Next</button>
</div>