<h1>StarWars Ships</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Model</th>
    <th>Manufacturer</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let ship of shipsList; let i = index" (click)="onGridClick(ship)">
    <td>{{ ship.name }}</td>
    <td>{{ ship.model }}</td>
    <td>{{ ship.manufacturer }}</td>
  </tr>
  </tbody>
</table>
<div class="float-left" *ngIf="hasPrevious">
  <button type="button" (click)="navigateToPrevious()">Previous</button>
</div>
<div class="float-right" *ngIf="hasNext">
  <button type="button" (click)="navigateToNext()">Next</button>
</div>