<div class="container-fluid">
    <div class="row"> 
        <div class="col-md-5">  
            <p class="lead">
                May the force be with you!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p>
                This Page is all about Starwars.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
        <p>
            Enjoy browsing.
        </p>
        </div>
    </div>
</div>